<div class="container heading">
    <div>
        <h1>Products</h1>
    </div>
    <div>
        <button type="button" class="btn btn-sm btn-primary" (click)="redirectToNewProductForm()">
            Add Product
        </button>
    </div>
</div>

<div class="container" *ngIf="products.length && !loadingProducts">
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Product</th>
                <th scope="col">Price</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let product of products">
                <th scope="row">{{product?.id}}</th>
                <td>
                    <div class="product-name">{{product?.name}}</div>
                    <div class="product-description">{{ product?.description | ellipsis:125 }} </div>
                </td>
                <td>{{ product?.price | currency:'INR' }}</td>
                <td>
                    <div class="actions">
                        <button type="button" class="btn btn-primary btn-sm"
                            (click)="redirectToEditProductForm(product)">Edit</button>
                        <button type="button" class="btn btn-danger btn-sm"
                            (click)="openModal(template, product)">Delete</button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div class="container loader" *ngIf="loadingProducts">
    <app-loading></app-loading>
</div>

<app-not-found [title]="notFoundTitle" [description]="notFoundDescription" *ngIf="!products.length && !loadingProducts"></app-not-found>

<ng-template #template>
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Delete Product?</h5>
        </div>
        <div class="modal-body">
            <p>Are you sure to delete product with name - <strong>{{deleteProductObj?.name}} </strong>? </p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-danger btn-sm" (click)="decline()">No</button>
            <button type="button" class="btn btn-primary btn-sm" (click)="confirm()">Yes, Delete it</button>
        </div>
    </div>
</ng-template>